* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("../src/utils/Quicksand-VariableFont_wght.ttf");
  font-family: quicksand;
}

body {
  font-family: quicksand;
}

.main {
  width: 100%;
}
